<!DOCTYPE html>
<html>
  <head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>会员管理-农非凡v2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/xadmin.css">
    <link rel="stylesheet" type="text/css" href="lib/layui/css/layui.css">
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="form-wrap" >

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">修改信息</div>
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="component-form-group">
         <div class="layui-form-item" hidden="hidden">
            <label class="layui-form-label">id</label>
            <div class="layui-input-block">
              <input type="text" name="id" lay-verify="required" placeholder="请输入大于0的数字，数字越小排名越靠前" autocomplete="off" class="layui-input" th:attr="value=${u.id}">
            </div>
          </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
              <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" th:attr="value=${u.username}">
            </div>
          </div>
           <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block">
              <input type="text" name="realname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" th:attr="value=${u.username}">
            </div>
          </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号</label>
            <div class="layui-input-block">
              <input type="text" name="idcard" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" th:attr="value=${u.idcard}">
            </div>
          </div>
            <div class="layui-form-item">
		  <label class="layui-form-label">性别</label>
		    <div class="layui-input-block">
		      <select name="type_name" lay-verify="required" >
		      	<option value="1" th:if="${u.sex==1}">男</option>
		      	<option value="0" th:if="${u.sex==0}">女</option>
		     	<option value="1">男</option>
		      	<option value="0">女</option>
		      </select>
		    </div>
		</div>
        <div class="layui-form-item">
          <label class="layui-form-label">邮箱</label>
         	<div class="layui-input-block">
              <input type="text" name="email" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" th:attr="value=${u.email}">
            </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">手机号</label>
         	<div class="layui-input-block">
              <input type="text" name="phone" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" th:attr="value=${u.phone}">
            </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">地址</label>
         	<div class="layui-input-block">
              <input type="text" name="comefrom" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" th:attr="value=${u.comefrom}">
            </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
               <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
               <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

   <script type="text/javascript" src="lib/layui/layui.js" charset="utf-8"></script>
 <script>
 var path;
 layui.use('form', function(){
  var form = layui.form;
   form.render(null, 'component-form-group');
  /* 监听提交 */
   form.on('submit(component-form-demo1)', function(data){
   	$.ajax({   
   		   url:'updateUser',       
   		   type:'post',       
   		   data:data.field,        
   		   dataType:'JSON',         
   		   success:function(res){      
   		   	if(res.rescode>0){  
	   		  layer.load();
	   		  layer.alert("保存成功",{icon: 6});
   				//此处演示关闭
   				setTimeout(function(){
   		  			layer.closeAll('loading');
   					x_admin_close();
   				}, 2000);
   		  	
   		    }else{           
   			 		layer.msg("模块升级中，稍后重试")
   		  			}   
   		   	},              
   		    error:function (data) {
   		     layer.msg("服务器开小差了！请稍后再试");       
   			}  
 	 }) ;    
     return false;
   });
  });
 </script>


<style id="LAY_layadmin_theme">.layui-side-menu,.layadmin-pagetabs .layui-tab-title li:after,.layadmin-pagetabs .layui-tab-title li.layui-this:after,.layui-layer-admin .layui-layer-title,.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>.layui-nav-child{background-color:#20222A !important;}.layui-nav-tree .layui-this,.layui-nav-tree .layui-this>a,.layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a{background-color:#009688 !important;}.layui-layout-admin .layui-logo{background-color:#20222A !important;}</style>
</body>


</html>